<launch>

<!-- launch with a delay to allow gazebo to load, feel free to edit -->
<arg name="launch_delay" value="5.0"/>

<!-- load panda model and gazebo parameters -->
<include file="$(find panda_description)/launch/description.launch"/>

<!-- start the coursework world spawner with a delay -->
<include file="$(find cw3_world_spawner)/launch/world_spawner.launch">

<arg name="launch_delay" value="$(arg launch_delay)"/>
</include>

<!-- add your own nodes to launch below here -->
<node pkg="cw3_team_5" 
      name="cw3_team_5_node" 
      type="cw3_team_5_node" 
      output="screen"/>

</launch>
